* {
	box-sizing: border-box;
}
body {
	background-color: #474e5d;
	font-family: Helvetica, sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}
.profile {
  .container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-top: 20vh;
    .profile-pic {
      padding-left: 40%;
      padding-right: 40%;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
    .name {
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      padding-top: 20px;
      color: white;
    }
    .links {
      @extend .name;
      a {
        color: white;
        text-decoration: none;
        padding: 10px;
      }
    }
  }
}
.timeline {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	&::after {
		content: '';
		position: absolute;
		width: 2px;
		background-color: white;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}
	.container {
		padding: 10px 40px;
		position: relative;
		background-color: inherit;
		width: 50%;
		.content {
			padding: 20px 30px;
			background-color: white;
			position: relative;
			border-radius: 6px;
		}
		&::after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			right: -4px;
			background-color: white;
			border: 1px solid black;
			top: 25px;
			border-radius: 50%;
			z-index: 1;
		}
		&.left {
			left: 0;
			&::before {
				content: " ";
				height: 0;
				position: absolute;
				top: 22px;
				width: 0;
				z-index: 1;
				right: 30px;
				border: medium solid white;
				border-width: 10px 0 10px 10px;
				border-color: transparent transparent transparent white;
			}
		}
		&.right {
			left: 50%;
			&::before {
				content: " ";
				height: 0;
				position: absolute;
				top: 22px;
				width: 0;
				z-index: 1;
				left: 30px;
				border: medium solid white;
				border-width: 10px 10px 10px 0;
				border-color: transparent white transparent transparent;
			}
			&::after {
				left: -8px;
			}
		}
	}
	
}
.footer {
	padding-top: 100px;
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: white;
	a {
		color: white;
	}
}
@media screen and (max-width: 600px) {
	.timeline {
		&::after {
			left: 23px;
		}
		.container {
			width: 95%;
			padding-left: 50px;
			padding-right: 5px;
			&::before {
				border: medium solid white;
				border-width: 10px 10px 10px 0;
				border-color: transparent white transparent transparent;
			}
			&.left {
				&::after {
					left: 15px;
				}
				&::before {
					content: " ";
					left: 40px;
					border-width: 10px 10px 10px 0;
					border-color: transparent white transparent transparent;
				}
			}
			&.right {
				&::after {
					left: 15px;
				}
				&::before {
					left: 40px;
				}
				left: 0%;
			}
		}
	}
	.profile {
		.container {
			padding-top: 5vh;
			.profile-pic {
				padding-left: 10%;
				padding-right: 10%;
			}
		}
	}
	.footer {
		padding-top: 20px;
	}
}
