<div class="footer">
    <p>
        Made using <a href="https://gohugo.io" target="_blank" rel="noopener noreferrer">Hugo</a>
    </p>
    <p>
        Source Code at 
        <a href="https://gitlab.com/aravinthk/website" target="_blank" rel="noopener noreferrer">
            {{ partial "fa" "gitlab" }}
        </a>
    </p>
</div>