<head>
    <title>
        Aravinth Karthikyean
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- To avoid favicon requests -->
    <link rel="icon" type="image/gif" href="data:image/jpeg;base64," />
    
    <!-- Compile minify and fingerprint main.scss -->
    {{ $sass := resources.Get "main.scss" }}
    {{ $style := $sass | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/98f1074d27.js"></script>
</head>