<div class="profile">
    <div class="container">
        <div class="profile-pic">
            <img src="https://avatars.dicebear.com/api/male/aravinthk.me.svg?r=50&w=500&h=500&mood[]=happy" alt="Photo"/>
        </div>
        <div class="name">
            Aravinth Karthikeyan
        </div>
        <div class="links">
            <a href="https://t.me/ia8k11" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "telegram" }}
            </a>
            <a href="https://twitter.com/ia8k11" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "twitter" }}
            </a>
            <a href="https://github.com/ia8k11" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "github" }}
            </a>
            <a href="https://gitlab.com/ia8k11" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "gitlab" }}
            </a>
            <a href="https://www.linkedin.com/in/aravinth-karthikeyan/" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "linkedin" }}
            </a>
            <a href="mailto:aravinthk@pm.me" target="_blank" rel="noopener noreferrer">
                {{ partial "fa" "envelope" }}
            </a>
        </div>
    </div>
</div>
