<div class="timeline">
    {{ $left := true }}
    {{ range $date, $details := .Site.Data.timeline.events }}
        <div class="container {{if $left}} left{{else}} right{{end}}">
            <div class="content">
            <h2>{{ $details.event }}</h2>
            <h4>
                On 
                <script>
                    document.write(new Date('{{ $date }}').toDateString())
                </script>
            </h4>
            <p>{{ $details.description }}</p>
            </div>
        </div>
        {{ $left = not $left }}
    {{ end }}
</div>